extends layout

block content
  //- Check if data came over properly before displaying data 
  if transaction_list[0].payer
    p Points Balance: #{points_balance}

    p 
      strong Transaction History
    table
      tr 
        th Name 
        th Point 
        th Timestamp
      each transaction in transaction_list 
        tr
          td= transaction.payer
          td= transaction.points
          td= transaction.timestamp
  else 
    p There are no transactions to display
  
  if points_list 
    p 
      strong Spending History 
    table
      tr 
        th Name 
        th Point 
        th Timestamp   
      each point in points_list
        tr
          td= point.payer
          td= point.points
          td= point.timestamp
  else 
    p There is no spending history to display

  br
  a(class='button' href='/spend') Spend
  br
  br
  a(class='button' href='/add_transaction') Add Transaction
  br
  br
  a(class='button' href='/points_balance') Points Balance