extends layout

block content
  br
  h2 Welcome to the Fetch Rewards Points Portal!
  p View transaction and spending history here or spend points and add transactions at the navigation above

  //- Check if data came over properly before displaying data 
  if transaction_list[0].payer
    p 
      strong Transaction History
    table.table.table-striped.table-hover
      thead 
        tr 
          th Name 
          th Point 
          th Timestamp
      tbody
        each transaction in transaction_list 
          tr
            td= transaction.payer
            td= transaction.points
            td= transaction.timestamp
  else 
    br
    p There are no transactions to display
  
  if points_list[0]
    p 
      strong Spending History 
    table.table.table-striped.table-hover
      thead
        tr 
          th Name 
          th Point 
          th Timestamp   
      tbody  
        each point in points_list
          tr
            td= point.payer
            td= point.points
            td= point.timestamp
  else
    br 
    p 
      strong There is no spending history to display
    