extends layout

block content
    br
    h3 Total Points balance: #{balance}

    p Enter amount to spend:
    form(method='post' action='/spend')
        label(class='form-label' for='point_amount')
        input(class='form-control' id='point_amount' type='number' placeholder="" + balance + "" name='point_amount' required='true' min='0' max="" + balance + "")
        br
        button(class='btn btn-primary' type='submit') Spend
    if error
        ul
            li= error
    if spendArr 
        p= spendMsg
        table.table
          tr 
            th Name 
            th Point 
            th Timestamp
          each spentObj in spendArr 
            tr
             td= spentObj.payer
             td= spentObj.points
             td= spentObj.timestamp